* {
    margin: 15px;

}

.App {
color: darkgrey;
}

.jumbo {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;;
    height: 750px;
    background-image: url("./img/backgroundColor.jpg");
    color: white;

}